
#beneficiariesPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
}

#Title {
    margin: 10px auto;
}


#teamData {
    background-color: #1a1a1a;
    margin: 20px 30px;
    border-radius: 10px;
}

#beneficiaries {
    overflow-y: auto;
    height: 350px;
}

#tableHead {
    display: flex;
    justify-content: space-between;
    background-color: mediumseagreen;
    border-radius: 10px 10px 0 0;
    color: #1a1a1a;
    margin: auto;
    padding: 5px 30px;
    margin-bottom: 10px;
}



.member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px 30px;
}

.benfText {
    display: block;
    width: 200px;
    text-align: left;
    font-size: large;
    font-weight: 600;
}

.idtable {
    width: 100px;
}

.buttonAid {
    text-align: center;
}


#popUpB {
    background-color: #373737;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    width: 800px;
    z-index: 1;
    right: 20%;
    left: 20%;
    top: 15%;
    padding: 50px;
    padding-top: 0;
}

#popUpP {
    background-color: #373737;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    width: 500px;
    z-index: 1;
    right: 20%;
    left: 30%;
    top: 15%;
    padding: 50px;
    padding-top: 0;
}

#popUpB > div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#popUpP > div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: none;
}

#popUpB> div > input,#popUpA > div > input{
    width: 200px;
}

#PromotionData {
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#Promotions {
    overflow-y: auto;
    height: 350px;
}

#tableHeadP {
    display: flex;
    justify-content: space-between;
    background-color: mediumseagreen;
    border-radius: 10px 10px 0 0;
    color: #1a1a1a;
    margin: auto;
    padding: 5px 30px;
    margin-bottom: 10px;
}
.promoted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px 30px;
}

.promotedText {
    display: block;
    width: 150px;
    text-align: left;
    font-size: large;
    font-weight: 600;

}
