 #mainrep{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    padding:100px;
}
#mbut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    
}


#teamDataR {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    margin: 20px 30px;
    border-radius: 10px;


}


#tableHeadR {
    display: flex;
    justify-content: space-between;
    background-color: mediumseagreen;
    border-radius: 10px 10px 0 0;
    color: #1a1a1a;
    margin: auto;
    padding: 5px 30px;
    margin-bottom: 10px;
}

.Rmember {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px 30px;
}
.Rmember1 {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px 30px;
}

.teamText {
    display: block;
    width: 200px;
    text-align: left;
    font-size: large;
    font-weight: 600;
}


#popUpR {
    background-color: #373737;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position:absolute;
    width: 900px;
    z-index: 1;
    right: 20%;
    left: 30%;
    top: 15%;
    padding: 50px;
    padding-top: 0;
    
}

#popUpR2 {
    background-color: #373737;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    width: 900px;
    z-index: 1;
    right: 20%;
    left: 30%;
    top: 15%;
    padding: 50px;
    padding-top: 0;
}




#popUpR > div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: none;
}


#popUpR > div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: none;
}

#popUpR2> div > input,#popUpR > div > input{
    width: 200px;
}

#teamDataR {
    background-color: #1a1a1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#partic {
    overflow-y: auto;
    height: 350px;
    display: flex;
    flex-direction: row;
}

#partic1 {
    overflow-y: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
}


.repText {
    display: block;
    width: 150px;
    text-align: left;
    font-size: large;
    font-weight: 600;

} 
