

.Event {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.event_img {
    width: 500px;
    margin: auto;
}

#popUpT
 {
    background-color: #373737;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    width: 800px;
    z-index: 1;
    right: 20%;
    left: 20%;
    top: 15%;
    padding: 50px;
    padding-top: 0;
}

#popUpT > div {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: space-around;
    padding: 10px;
}



#popUpT > div > input{
    width: 200px;
}

.request-box {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: mediumseagreen;
    color: rgb(38, 39, 38);
    border: 1px solid rgb(34, 34, 34);
    padding: 30px;
    text-align: center;
  }
  
  .request-box img {
    width: 150px ;
    height: 150px ;
    margin: 0 auto;
  }
  
  .request-box p {
    font-size: 16px;
    margin-bottom: 0px;
  }
  
  .request-box button {
    background-color: mediumseagreen;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .request-box button:hover {
    background-color: mediumseagreen;
  }